#mainFurniture{
    display: flex; justify-content: center;
    background-color:rgb(228, 228, 228);
    height: 100%; width: 100%; position: absolute;
    top: 0%;
}
#furnitureButtons{
    margin-top: 15%;
    display: flex; gap: 0.7rem; 
    width: 100%; justify-content: center;
}
.furnitureButtons{
    width: 12rem; height: 12rem;
    background-color: black; color: white;
    border-color: transparent; border-radius: 10px;
    font-family: 'Mohave'; font-size: 20px;
}
.furnitureButtons:hover{
    background-color: white; color: black;
    border-color: black; border-radius: 10px;
    cursor: pointer; transform: scale(1.04);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#subFurniture{
    position: absolute; background-color: rgb(228, 228, 228);
    height: 100%; width: 100%; top: 0%;
    display: flex; flex-direction: column;
}
#furniture-header{
    background-color: rgb(242, 241, 241); width: 100%;
    height: 10%; box-shadow: 0px 0px 7px 1px rgb(211, 210, 210);
    display: flex; flex-direction: row; justify-content: space-between;
}
.product-header{
    font-size: 30px; margin-left: 1%;
    margin-top: 1%;
}
#furniture-tile{
    width: 70%; background-color: rgb(242, 241, 241);
    height: 89%; align-self: center; padding: 1% 0 1% 0;
    margin-top: 1%; box-shadow: 0px 0px 7px 1px rgb(211, 210, 210);
    border-radius: 10px 10px 0px 0px; overflow: hidden scroll;
    display: flex; flex-direction: column; align-items: center;
}#furniture-tile::-webkit-scrollbar{
    width: 0.5rem;
    background-color: rgba(0, 0, 0, 0.199);
    opacity: 50%;
    border-radius: 10px;
}
#furniture-tile::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.199);
    border-radius: 6px;
}
#furniture-tile::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1rem;
    outline-color: black;
    border-radius: 6px;
}
#cart-button{
    height: 2rem; width: 7rem; border-color: transparent;
    margin: 1rem 3rem 0px 0px; background-color: black;
    color: white; border-radius: 6px; font-family: 'Mohave';
}
#cart-button:hover{
    cursor: pointer; color: black;
    background-color: white; border: 2px solid black;
}