#tiles{
    width: 85%; height: fit-content;
    background-color: black; display: flex;
    flex-direction: row; justify-content: space-between;
    align-items: center;
    padding: 10px; margin-top: 10px;
    border-radius: 10px; background-color: white;
    box-shadow: 0px 0px 7px 1px rgb(197, 197, 197);

    #img-texts{
        display: flex; flex-direction: row; width: 60%;
        align-items: center;

        #imgCon{
            overflow: hidden; background-color: aqua;
            height: fit-content;
            width: 25%;
            
            img{
                width: 100%;
                aspect-ratio: 1 /1;
            }
        }
        #tile-texts{
            display: flex; flex-direction: column;
            margin-left: 3%;
            height: fit-content;
            gap: 8px;
            
            .tile-texts{
                margin: 0;
                font-family: 'Roboto';
            }
            .prod-text{
                font-size: 30px;
            }
        }
    }
    #addToCart{
        width: 8rem; align-self: center;
        height: 3rem; margin-right: 10px;
        border-color: transparent;
        border-width: 1px;
        border-radius: 5px;
        font-family: 'Roboto Condensed';
        font-size: 23px;
        text-align: center;
        opacity: 0%; transition: ease 0.5s;
        &:hover{
            color: white;
            background-color: rgb(65, 64, 64);
            border-color: rgb(65, 64, 64);
            border-radius: 5px;
            cursor: pointer;
        }
    }
    &:hover {
        background-color: black;
        #addToCart{    
            opacity: 100%;
        }
        .tile-texts{
            color: white;
        }
    }
    p:hover{
        cursor:default;
    }
}