#mainIntroPage {
  background-image: url("../Assets/background-image-1.jpg");
  background-size: cover;
  background-position: center;
}

#mainIntroPage::-webkit-scrollbar{
  width: .5rem;
}
#mainIntroPage::-webkit-scrollbar-thumb{
  background-color: rgba(138, 137, 137, 0.639);
  border-radius: 2px;
}

#lowerbody, #upperbody, #footer, #mainIntroPage::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0.486);
}
@media (min-width: 768px){
  #upperbody{
    background: none;
  }
  #lowerbody{
    background-color: rgba(255, 255, 255, 0.329);
  }
}